html {
  touch-action: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #111;
  position: relative;
  z-index: 0;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  * {
    box-sizing: border-box;
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}
